.toolbar__link--tab {
  padding: $toolbar-actions-padding;
  font-size: $toolbar-action-font-size;
  color: $toolbar-text-color;
  text-decoration: none;
  font-weight: bold;
}

.toolbar__link--tab-active {
  color: $toolbar-highlighted-text-color;
}
