.toolbar__a--label {
  float: left;
  display: block;
  color: $toolbar-text-color;
  text-align: center;
  padding: $toolbar-title-padding;
  font-size: $toolbar-label-font-size;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
}
