$main-color: #5264AE;
$highlighted-main-color: #405196;

$toolbar-size: 70px;
$toolbar-size-margin: 90px;
$toolbar-text-color: #F2F2F2;
$toolbar-highlighted-text-color: #071B3D;
$toolbar-label-font-size: calc(1vw + 1vh + 1vmin);
$toolbar-action-font-size: calc(0.8vw + 0.8vh + 0.8vmin);
$toolbar-title-padding: 14px 16px;
$toolbar-actions-padding: 14px 10px;

$row-border-title-font-size: 26px;
$row-title-width: 90%;
$row-description-font-size: 20px;