.note__div--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: black;
  border-top-style: groove;
  padding: 20px 10px 20px 10px;
}

.note__div--container:last-child {
  border-bottom-style: groove;
}

.note__span--description {
  font-size: $row-border-title-font-size;
  box-sizing: border-box;
  color: #24292e;
  text-decoration: none;
  align-self: center;
  font-weight: bold;
  width: $row-title-width;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.note__span--date {
  align-self: center;
  display: block;
  font-size: $row-description-font-size;
  font-style: normal;
  box-sizing: border-box;
  color: #666;
  padding: 0 10px 0 10px;
}
