@import './userImage.scss';
@import './userInfo.scss';

.profile__div--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: $toolbar-size-margin;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.name__span {
  display: block;
  font-size: 26px;
  box-sizing: border-box;
  color: #24292e;
}

.login__span {
  display: block;
  font-size: 20px;
  font-style: normal;
  box-sizing: border-box;
  color: #666;
}

.blog__span {
  width: 300px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.blog__h3 {
  display: flex;
}
